.main {
  width: 60%;
  margin: auto;

  border: 1px;
  border: 2px dotted;
  border: medium dashed green;
}

.header {
  text-align: center;
}

.body {
  text-align: left;
}
.timer {
  position: sticky;
  top: 0;
  margin-left: 0;
  min-height: 2em;
  background: rgb(187, 165, 202);
}
